nav ul li {
    list-style: none;

}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

.link_header {
    font-family: 'Roboto', sans-serif;

    font-size: 2rem;
}

a:link {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

a {
    color: #fff;
    border-radius: 2px;
    padding: 10px;
    background-color: #ea4c89;
}